<div class="fond-preview">
<p class="texte-titre-preview"> Titre preview </p>
  <div class="ligne-preview"></div>
<p class="texte-extrait-preview"> Ceci est une prévisualisation du premier article créé pour voir com- ment se comporte le texte.</p>
<div class="flexbox-preview">
<p class="date-auteur-preview"> Le 04/12/17, par Luc </p>
{{> atoms-lire-small}}
</div>
{{>atoms-auteur}}
</div>
