<div class="article-bloc">
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
  {{>organisms-preview-article}}
</div>
