<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #2ABF9D;"></span>
		<span class="sg-label">
			$color-green <br />
			#2ABF9D
		</span>
	</li>
	<li>
	<span class="sg-swatch" style="background: #20AC8D;"></span>
	<span class="sg-label">
		$color-green-dark <br />
		#20AC8D
	</span>
</li>
</ul>
