<ul class="sg-colors">
	<li>
	<span class="sg-swatch" style="background: #CE0505;"></span>
	<span class="sg-label">
		$color-red <br />
		#CE0505
	</span>
	</li>
	<li>
	<span class="sg-swatch" style="background: #E2D519;"></span>
	<span class="sg-label">
		$color-yellow <br />
		#E2D519
	</span>
	</li>
	<li>
	<span class="sg-swatch" style="background: #53B749;"></span>
	<span class="sg-label">
		$color-green-apple <br />
		#53B749
	</span>
	</li>
	<li>
	<span class="sg-swatch" style="background: #1CD2DE;"></span>
	<span class="sg-label">
		$color-blue-fluo <br />
		#1CD2DE
	</span>
	</li>
	<li>
	<span class="sg-swatch" style="background: #50E3C2;"></span>
	<span class="sg-label">
		$color-green-fluo <br />
		#50E3C2
	</span>
</li>
</ul>
