<ul class="sg-colors">
<li>
	<span class="sg-swatch" style="background: #ffffff;"></span>
	<span class="sg-label">
					$color-white <br />
					#FFFFFF
			</span>
</li>
<li>
	<span class="sg-swatch" style="background: #F8F8F8;"></span>
	<span class="sg-label">
		$color-gray-01 <br />
		#F8F8F8
	</span>
</li>
<li>
	<span class="sg-swatch" style="background: #F0F0F0;"></span>
	<span class="sg-label">
		$color-grey-02 <br />
		#F0F0F0
	</span>
</li>
<li>
	<span class="sg-swatch" style="background: #9B9B9B;"></span>
	<span class="sg-label">
					$color-gray-inter <br />
					#9B9B9B
			</span>
</li>
	<li>
		<span class="sg-swatch" style="background: #4A4A4A;"></span>
		<span class="sg-label">
			$color-gray-03 <br />
			#4A4A4A
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			$color-black <br />
			#000000
		</span>
	</li>
</ul>
