<div>Ceci est un premier essai;</div>
<div>Primary font : "Ubuntu light" sans-serif;</div>
<div>Primary font : "Ubuntu medium" sans-serif;</div>
<div><strong>Primary font bold: "Ubuntu" sans-serif;</strong></div>
<div class="font-secondary">Secondary font: Verdana", serif;</div>
<div class="font-secondary"><strong>Secondary font bold; Verdana bold", serif;</strong></div>
