.contenant-barre-categorie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  margin: 0 auto;
}

//display: flex;
//flex-wrap: wrap;
//justify-content: space-around;
//justify-content: center;
