/*------------------------------------*\
    #FIELDS
\*------------------------------------*/

.c-field {
	margin-bottom: 1rem;
}

.c-field__note {
	font-size: $font;


	a {
		text-decoration: underline;
	}
}
