/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */
body {
	background: $color-gray-01;
	color: grey;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.font-secondary{
	font-family: $font-secondary;
}
